@use '../../vars.scss' as *;

.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 11px 14px;
        @include mediaDesktop($w1024) {
            padding: 23px 45px 21px;
        }
    }

    &__links-container {
        display: none;
        flex-flow: row nowrap;
        align-items: center;
        @include mediaDesktop($w768) {
            display: flex;
        }
    }
    
    &__language-dropdown {
        width: 83px;
        height: 43px;
        padding: 10px 14px;
        margin-left: 10px;
        background-color: #E9E9E9;
        border-radius: 5px;
        border: none;
        color: #191D36;
        font-size: 20px;
    
        option {
            background-color: #191D36;
            color: #fff;

            &:active {
                background-color: red;
            }
        }   
    }

    //Custom Select START
    .custom-select-container {
        display: inline-block;
        width: 83px;
        height: 43px;
        min-width: 85px;
        margin-left: 10px;
        padding: 10px 14px;
        background-color: #E9E9E9;
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;

        .selected-text {
            color: #191D36;
            font-size: 20px;
    
            &:after {
                content: "";
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 11px solid #191D36;
            }
        }

        .select-options {
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            background:#191D36;
    
            .custom-select-option {
                padding: 14px 20px 13px 14px;
                color: #E9E9E9;
                cursor: pointer;
    
                &:hover {
                    background-color: rgba(255, 255, 255, .1);
                }
            }
        }
    }

    //Custom Select END
}


.logo {
    display: flex;
    align-items: center;

    img {
        width: 15%;
        margin-right: 10px;
    }

    span {
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;
    }
}


